{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container py-4">
    <h3 class="mb-4 text-primary">Edit Product</h3>

    <form action="{{ url_for('update_product', product_id=product.id) }}" method="POST" class="card p-4 shadow-sm">
        <div class="mb-3">
            <label>Product Name</label>
            <input type="text" name="name" class="form-control" value="{{ product.name }}" required>
        </div>
        <div class="mb-3">
            <label>Initial Quantity</label>
            <input type="number" name="quantity" class="form-control" value="{{ product.initial_quantity }}" required>
        </div>
        <div class="mb-3">
            <label>Threshold</label>
            <input type="number" name="threshold" class="form-control" value="{{ product.threshold }}" required>
        </div>
        <div class="d-flex justify-content-between">
            <a href="{{ url_for('home') }}" class="btn btn-secondary">⬅ Back</a>
            <button type="submit" class="btn btn-primary"> Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}
